@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.workplace-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
}

.workPlace-content {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;

}

.workplace-border {
    background-image: url('../../images/mem_stipe_square.png');
    background-repeat: no-repeat;
    background-position: inherit;
    margin: 0;

}

.workplace-border {
    background-image: url('../../images/mem_dots_rect2.png');
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;

}


.workplace-first-bg {
    border: 1px solid #CCCCCC;
    border-radius: 0px 10px;
    /* height: 446px !important; */
}

.workplace-image-top {
    border: 1px solid #CCCCCC;
    border-radius: 0px 10px;


}

.workplace-image-bottom {
    border: 1px solid #CCCCCC;
    border-radius: 0px 10px;


}

.bottom-div {
    padding-top: 32px;

}

.workplace-bg-image {
    background-image: url("../../images/mem_dots_rect2.png"), url('../../images/mem_stipe_square.png'), url('../../images/mem_stripe_circle2.png'), url('../../images/mem_wave_10.png'), url('../../images/mem_wave_7.png');
    background-repeat: no-repeat;
    background-position: top -8% left 50px, right center, bottom 20px left, top -17% right 60px, bottom;
}

@media only screen and (min-width: 375px) {
    .workplace-first-bg {
        /* height: 100% !important; */
    }



}