@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.BestTeam-bg {
    background-color: rgba(80, 114, 157, 0.84);
    background-image: url('../../images/Team Image.png');
    /* border-radius: 50% 50% 0 0 /10%; */
    border-radius: 58% 58% 0 0 / 25%;
    /* transform: scale(1.5); */

    height: 494px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    ;
    /* background: rgba(80, 114, 157, 0.84); */
    /* opacity: .05; */
}

.BestTeam-bg:after {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url('../../images/Separator (1).png');
}

.award-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

.award-team-bg {
    background-image: url('../../images/Sparkles.png');
    background-repeat: no-repeat;
    width: 400px;
}

.award-content-margin {
    padding-top: 13px;
}


.award-content {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

.award-box {
    width: 433px;
}

@media only screen and (max-width: 1180px) {

    .award-box {
        width: 330px;
    }


}